<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
</head>
<body>
    <h1>Signup Page</h1>
    {% if msg %}
        <h2>{{msg}}</h2>
    {% endif %}
    {% if logoutmsg %}
        <h2>{{ logoutmsg }}</h2>
    {% endif %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Username : </label>
        <input type="text" name="username" required><br><br>
        <label>Email : </label>
        <input type="email" name="email" required><br><br>
        <label>First Name : </label>
        <input type="text" name="fname" required><br><br>
        <label>Last Name: </label>
        <input type="text" name="lname" required><br><br>
        <label>Phone No. : </label>
        <input type="number" name="phno" required><br><br>
        <label>Password : </label>
        <input type="password" name="password1" required><br><br>
        <label>Confirm Password : </label>
        <input type="password" name="password2" required><br><br>
        <input type="submit" value="Submit"><br><br>
    </form>
    <br>
    <a href="{% url 'login'%}">Already Have An Account? Login from here</a>
</body>
</html>